*{padding: 0; 
margin: 0;
 font-family: sans-serif;
}
body{
background-image: url("templatemo_main_bg.jpg");
}
#sidebar
{
position: fixed; 
width: 250px; 
height: 100%; 
background: #57626F;
 border-right: 4px solid #E0E5EA;
}
#sidebar ul li:first-child
{
text-align: center; 
color: white; 
font-size: 1. 95 em; 
list-style: none;
 padding: 25px 10px 10px 10;
}
#sidebar ul li:not(:first-child) {
width:90%;
margin-left:10%;
font-size: 1.1 em; 
list-style: none;
 padding: 15px 10px;
}
#sidebar ul li a {
color:#ffffff;
text-decoration:none;
}
#sidebar ul li a : hover {
	color:#666;
}
#sidebar .toggle-btn{
position: absolute; 
left: 270px; 
top: 20px; 
background:#e0e5ea;
padding: 10px; 
border-radius: 8px;
 cursor: pointer;
}
#sidebar . toggle-btn: hover 
{background: #556270
}
#sidebar . toggle-btn: hover span {
background: #fff270

}
#sidebar .toggle-button span
{
display: block;
 width: 25px;
 height: 4px; 
background-color: #f0f0f0f;
margin: 4px 0;
}






